{
  email custom@domain.com
}

fastapi.{$EXT_ENDPOINT1}:80, fastapi.{$LOCAL_1}:80, fastapi.{$LOCAL_2}:80, :80 {
  reverse_proxy fastapi_server:8000
}

static.{$EXT_ENDPOINT1}:80, static.{$LOCAL_1}:80, static.{$LOCAL_2}:80 {
  root * /code/static
  file_server browse
}

app.{$EXT_ENDPOINT1}:80, app.{$LOCAL_1}:80, app.{$LOCAL_2}:80 {
  reverse_proxy frontend:5173
}

## Uncomment this to automatic ssl
# fastapi.{$EXT_ENDPOINT1}, fastapi.{$LOCAL_1}, fastapi.{$LOCAL_2} {
#   reverse_proxy fastapi_server:8000
# }

# static.{$EXT_ENDPOINT1}, static.{$LOCAL_1}, static.{$LOCAL_2} {
#   root * /code/static
#   file_server browse
# }
